.title {
  height: 80px;
  border-radius: 20px;
  margin-top: 50px;
  padding: 10px;
  background-color: #c7c2c2fe;
}

.title h1 {
  text-align: center;
}

#tableUsers a {
  color: rgb(0, 26, 255);
  text-decoration: none;
}

.list-group-item span {
  font-weight: 700;
}